@media only screen and (min-width: 768px){
  
header{
height: 8vh;
}

header > .nav{
width: 70%;
height: 8vh;
display: flex;
background: white;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding-top: 0;
transform: translateX(5vw);
position: static;
}

.nav span{
font-size: 0.8em;
}

header > img{
margin-left: 5%;
}

header > i{
opacity: 0;
}

header > span{
margin-left: 0;
}

#hero{
height: auto;
flex-direction: row;
margin-top: 2vh;
}

#hero img{
width: 50%;
height: 25vh;
}

#hero .msg{
margin-top: -3vh;
width: 60vw;
text-align: left;
margin-left: 5vw;
}

#hero h1{
font-size: 3.9em;
}

.msg button{
width: 25%;
}
}